@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="jumbotron">Apps</h1>
    <div class="card-body text-center">
        <div class="card-columns card-group">
            <div class="card">
                <a asp-area="Admin"
                   asp-controller="Home"
                   asp-action="Index">
                    Future Value
                </a>
            </div>

            <div class="card">
                <a asp-area="FutureValue"
                   asp-controller="Home"
                   asp-action="Index">
                    Future Value
                </a>
            </div>

            <div class="card">
                <a asp-area="FutureValue"
                   asp-controller="Home"
                   asp-action="Index">
                    Future Value
                </a>
            </div>

            <div class="card">
                <a asp-area="FutureValue"
                   asp-controller="Home"
                   asp-action="Index">
                    Future Value
                </a>
            </div>
        </div>               
    </div>
</div>
