
@{
    ViewData["Title"] = "Heart Rate Information";
}

<h1>Information on Target Heart Rates</h1>
<p>
    Based on this <a target="_blank" href="https://www.heart.org/en/healthy-living/fitness/fitness-basics/target-heart-rates">website</a>, 
    our app uses the following chart for target groups:
</p>
<div>
    <a target="_blank" href="https://www.heart.org/en/healthy-living/fitness/fitness-basics/target-heart-rates">
        <img src="~/images/target-heart-rate-groups.png" alt="Target heart rate groups" />
    </a>
</div>
<p>Return <a asp-controller="Home" asp-action="Index">home</a>.</p>
