@model List<Tile>

<div>
    <h3>Current Bet:</h3>
</div>

<div class="row card-deck">
    @foreach (var tile in Model)
    {
        <div class="col-2">
            <div class="">
                @if (tile.Visible == false)
                {
                    <img src="~/images/unknown.png" class="card-img-top" alt="...">
                }
                else if (tile.Value == "0.00")
                {
                    <img src="~/images/bust.png" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="~/images/money.png" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <div>@tile.Value</div>
                </div>
            </div>
        </div>
    }
</div>

