<div class="row m-3 hoverDiv">
    <div class="col-3">
        A div section loaded from partial view
    </div>
    <div class="col-9">
        <h5>
            Loaded in correctly!
        </h5>
    </div>
</div>