@{
    ViewData["Title"] = "Information on interpreting BP measurements";
}

<h3>Information on interpreting BP measurements</h3>
<p>
    A great resource for <a href="https://www.heart.org/en/health-topics/high-blood-pressure/understanding-blood-pressure-readings" target="_blank">
        understanding BP measurements
    </a> has the follow categorization for measurements based on their systolic &amp; diastolic values:
</p>
<div>
    <a href="https://www.heart.org/en/health-topics/high-blood-pressure/understanding-blood-pressure-readings" target="_blank">
        <img alt="BP measurement categories" src="~/images/BPRanges.jpg" />
    </a>
</div>
<p>Return <a asp-controller="Home" asp-action="Index">home</a>.</p>

