@model NewUser

<h4>Add User</h4>

<form asp-action="Add" method="post">

    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-4">
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="col">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-4">
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="col">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>

</form>


