@model TransactionRecordKbaek7943
@{
    ViewBag.Title = "Delete Movie";
}

<h2>Confirm Deletion</h2>
<h3>@Model.CompanyName (@Model.SharePrice)</h3>

@*<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TransactionRecordKbaek7943Id" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>*@