@{
    ViewData["Title"] = "Home Page";
}

<p>
    Let's <a asp-controller="Home" asp-action="DbTest">test our DB</a>.
</p>
<p>
    Let's view our <a asp-controller="Movies" asp-action="Index">movies</a>.
</p>
