@model List<string>

@if (Model.Count == 0)
{
    <div class="jumbotron">
        <h2>No actions performed</h2>
    </div>
}
else
{
    <div>
        <ul>
            @foreach (var i in Model)
	        {
		         <li class="list-group-item">@i</li>
	        }
        </ul>
    </div>
}
