@{ 
    ViewData["Title"] = "Routing";
}


<hi class="jumbotron">@ViewData["Title"]</hi>

<div class="container">
    <nav>
        <ul>
            <li>
                <a asp-action="Home">Content Home</a>
            </li>

            <li>
                <a asp-action="Privacy">Content Privacy</a>
            </li>

            <li>
                <a asp-action="Display">Content Display with no Id</a>
                <a asp-action="Display"
                   asp-route-id="1">Content Display with Id</a>
            </li>

            <li>
                <a asp-action="Countdown">Content Default int</a>
                <a asp-action="Countdown"
                   asp-route-id="10">Countdown</a>
                <a asp-action="CountdownAttributeRouting"
                   asp-route-id="10">Countdown Attribute Routing</a>
                <a asp-action="CountdownAttributeRouting"
                   asp-route-start="10"
                   asp-route-end="1"
                   asp-route-message="Liftoff">Countdown Attribute Routing</a>
            </li>
        </ul>
    </nav>
</div>
