@{
    ViewData["Title"] = "Routing";
}


<h1 class="jumbotron">@ViewData["Title"]</h1>

<div class="container">
    <ul class="nav nav-tabs navbar-expand bg-dark p-1">
        <li class="nav-item">
            <a class="nav-link text-light" asp-action="Home">Content Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-action="Privacy">Content Privacy</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-action="Display">Content Display with no Id</a>
            <a class="nav-link text-light" asp-action="Display"
               asp-route-id="1">Content Display with Id</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-action="/">Slash Static</a>
            <a class="nav-link text-light" asp-action="About">Attribute Static</a>
            <a class="nav-link text-light" asp-action="Product">Product Static</a>
            <a class="nav-link text-light" asp-action="Countdown">Content Default int</a>
            <a class="nav-link text-light" asp-action="Countdown"
               asp-route-id="10">Countdown</a>
            <a class="nav-link text-light" asp-action="CountdownAttributeRouting"
               asp-route-id="10">Countdown Attribute Routing</a>
            <a class="nav-link text-light" asp-action="CountdownAttributeRouting"
               asp-route-start="10"
               asp-route-end="1"
               asp-route-message="Liftoff">Countdown Attribute Routing</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-action="List">List Routing</a>
        </li>
    </ul>
</div>



