@model List<TransactionRecordKbaek7943>
@{
    ViewData["Title"] = "Transactions";
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<h1 class="jumbotron">@ViewData["Title"]</h1>

<h2>My Transactions</h2>
<a asp-controller="Transaction" asp-action="Add">Add New Transaction</a>

<!-- table start -->
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Ticker Symbol</th>
            <th>CompanyName</th>
            <th>Quantity</th>
            <th>Share Price</th>
            <th>Action</th>
        </tr>
    </thead>
    
</table><!-- /end table -->
