@model CheatSheetCSharp.Areas.FutureValue.Models.FutureValueModel
@{ 
    ViewData["Title"] = "Future Value Calculator";
}
<h1 class="badge-dark">
    @ViewData["Title"]
</h1>

<div class="container mt-5">
    <form asp-action="Index" method="post"
          class="py-3">
        <div class="form-group row">
            <label asp-for="MonthlyInvestment" class="form-label col-2">Monthly Investment: </label>
            <input asp-for="MonthlyInvestment" class="col-10" type="number" />
        </div>

        <div class="form-group row">
            <label asp-for="YearlyInterestRate" class="form-label col-2">Yearly Interest Rate: </label>
            <input asp-for="YearlyInterestRate" class="col-10" type="number" />
        </div>

        <div class="form-group row">
            <label asp-for="Years" class="form-label col-2">Number of Years: </label>
            <input asp-for="Years" class="col-10" type="number" />
        </div>
        
        @*<div class="form-group row">
            <label asp-for="" class="form-label col-2">Number of Years: </label>
            <select asp-items="@(new SelectList(ViewBag.SelectList)) "></select>
        </div>*@

        <div class="form-group row">
            <p>Future Value: @ViewBag.FV</p>
        </div>

        <button class="btn btn-primary btn-block mb-1">Calculate</button>
        <a asp-action="Index" class="btn btn-danger btn-block">Clear</a>
    </form>

</div>