@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Sandbox App!</h1>
</div>

<div>
    <a class="btn btn-outline-warning" asp-action="TagHelpers">Go to Tag Helpers Page</a>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="PartialViews">Go to the Partial Views Page</a>
</div>

<div>
    <a class="btn btn-outline-success" asp-action="ViewComponents">Go to the View Components Page</a>
</div>

