@{
    ViewData["Title"] = "Transactions";
}

<div class="text-center">
    <h1 class="jumbotron">@ViewData["Title"]</h1>

    <h2>Movie List</h2>
    <table>

    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
